.head img {
    max-width: 18%;
    height: auto;
    margin-right: 4rem;
}

.wieboris {
    display: flex;
    flex-wrap: wrap;

    gap: 2rem;
}

.wieboris p {
    max-width: 50rem;
    margin-bottom: 1rem;
}