.branding {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
}

.head {
    background-color: #FDF3E9;
    padding: 2rem;
    border-radius: 8px;
    padding-bottom: 1.0rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

.head h1 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: #64664A;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 40rem;
}

.grid h4 {
    color: #88946E;
    font-weight: normal;
    font-size: 1.5rem;
}

.wieboris {
    display: flex;
    flex-wrap: wrap;

    gap: 2rem;
}

.wieboris p {
    max-width: 50rem;
    margin-bottom: 1rem;
}
