.head img {
    max-width: 16%;
    height: auto;
    margin-right: 4rem;
}

.wieboris {
 margin-left: 1rem;
 margin-top: 4.5rem;
}

.wieboris p {
    max-width: 35rem;
    margin-bottom: 1rem;
}

.afbeelding img {
    margin-left: 1rem;
    width: 14rem;
    height: 14rem;
}

.doelgroep {
    margin: 1rem;
    margin-top: 2rem;
}

.headtekst p {
    max-width: 35rem;
    margin-bottom: 1rem;
}

.doelenresultaten {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

}

.doelenresultaten h4 {
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    color: #88946E;
    font-size: 1.7rem;
    margin-bottom: 0.4rem;
}

.doelen {
    min-width: 40%;
    font-size: 1.2rem;
}

.doelen ul {
    margin-left: 1rem;
}

.titellogo {
    margin-top: 0rem;
}


.stylescape {
    width: 100%;
}

.container3 h6 {
    font-size: 1.0rem;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

.uxgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 40rem;
}

.uxgrid h5 {
    font-family: 'tanfont';
    margin-top: 1.2rem;
    color: #6d7a52;
}

.uxgrid ul {
    list-style: none;
}


.Eindfeedback {
    margin-top: 2rem;
}

.Eindfeedback h3 {
    margin-top: 2rem;
}

.Eindfeedback p {
    font-size: 1.2rem;
    max-width: 70%;
}

.Eindfeedback h6 {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
}

p {
    font-size: 1.2rem;
}