.wieboris {
 margin-left: 1rem;
 margin-top: 2rem;
 display: flex;
 justify-content: space-between;
}

.wieboris p {
    max-width: 40rem;
    margin-bottom: 2rem;
}

.wieboris img {
    max-width: 25%;
    max-height: 25%;
    margin-right: 4rem;
    margin-top: 5rem;
}

.doelgroep {
    margin: 1rem;
    margin-top: 2rem;
}

.headtekst p {
    max-width: 35rem;
    margin-bottom: 1rem;
}

.doelenresultaten {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

}

.doelenresultaten h4 {
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

.doelen {
    min-width: 40%;
    font-size: 1.2rem;
}

.doelen ul {
    margin-left: 1rem;
}

.titellogo {
    margin-top: 0rem;
}


.stylescape {
    width: 100%;
}


.uxgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    max-width: 45rem;
}

.uxgrid h6 {
    font-weight: normal;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    font-family: 'Playfair Display', serif;

}

.uxgrid ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.uxgrid li {
    font-size: 1.2rem;
}
.uxgrid p {
    margin-top: 0;
}


.Eindfeedback {
    margin-top: 2rem;
}

.Eindfeedback h3 {
    margin-top: 2rem;
}

.Eindfeedback p {
    font-size: 1.2rem;
    max-width: 70%;
}

.Eindfeedback h6 {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
}

p {
    font-size: 1.2rem;
}