/* dev */
.github1 {
    margin-top: 0.6rem;
    margin-bottom: 0.9rem;
}

.coderendev ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

/* portfolio  */
.link  {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}

.ai ul {
    margin-left: 1.5rem;
}

.live {
    margin-top: 1.5rem;
}

.eind video {
    border-radius: 8px;
}

@media (max-width: 768px) {
  .coderendev ul,
  .ai ul {
    margin-left: 1rem; /* Iets kleinere inspringing */
  }

  .link {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }

  .live {
    margin-top: 1rem;
  }

  .eind video {
    max-width: 100%; /* Zorg dat video zich aanpast aan het scherm */
    height: auto;
  }
}

@media (max-width: 480px) {
  .coderendev ul,
  .ai ul {
    margin-left: 0.8rem;
  }

  .link {
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
  }
}