.intro {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 6rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 60vh;
}

.image-container img {
    max-width: 80%;
    width: auto;
}

.text-container {
    max-width: 50%;

}

.text-container h2 {
    font-size: 3rem;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
}

.p {
    margin: 0;
}

.bekijkproject {
    background-color: #CB9470;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
  .intro {
    flex-direction: column; /* Elementen stapelen */
    align-items: center;    /* Centreer inhoud */
    text-align: left;     /* Optioneel: tekst centreren */
    gap: 2rem;              /* Iets kleinere afstand tussen items */
    padding:  1.4rem;          /* Minder padding op mobiel */
  }

  .text-container {
    max-width: 100%;
  }

  .text-container h2 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 0.7rem
}

  .bekijkproject {
    font-size: 0.6rem;
    padding: 0.6rem 1.2rem;
  }
}