.prototypecog img {
    width: 20rem;
}

.prototypecog {
    display: flex;
    gap: 5rem;
    margin-right: 4rem;
    margin-top: 0.3rem;
}

h6 {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.3rem
}
.prototype2 {
    display: flex;
    gap: 3rem;
}

.tekst{
    max-width: 30rem;
}


.feedbacksprint1 ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.p{
    margin-top: 0.5rem;
}

.container3 h6 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.buttonsbranding {
    margin-bottom: 1rem;
}

.conclusie ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.buttonsbranding {
    margin-top: 1rem;
}

.link {
    margin-top: 1rem;
}