.projectenpagina {
  font-family: 'jungefont';
  color: #3b573d;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  min-height: 60vh;
  padding-bottom: 5rem ;
}

.projectenpagina h2 {
  font-size: 2.5em;
  margin-bottom: 4px;
  color: #3b573d;
  font-family: 'tanfont';
  font-weight: normal;
}

.project-items {
  display: flex;
  gap: 5%;
}

/* Project blok als klikbare link */
.project-container {
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.project-container img {
  width: 200px;
  height: auto;
  /* border-radius: 6px; */
}

.projectnaam {
  font-weight: normal;
    margin-bottom: 0.2rem;
    font-size: 2rem;
    margin-top: 0.5rem;
    font-family: 'Playfair Display', serif;

}


.project-container p {
  color: black;
  margin-bottom: 1.4rem;
  max-width: 11rem;
  font-size: 0.8rem;
}

.project-container a {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #CB9470;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
  font-size: 0.9rem;
  
}
.project-container a:hover {
  background-color: #9e653f;
}