/* fonts importeren */
@font-face {
    font-family: 'tanfont';
    src: url('fonts/tan-pearl.otf') format('opentype');
}

@font-face {
    font-family: 'jungefont';
    src: url('fonts/Junge-Regular.ttf') format('opentype');
}

/* algemene styling van website (taakbalk, navigatie, fonts  */
* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'jungefont';
}



body {
    margin: 0;
    font-family: 'jungefont';
    background-color: #FDF3E9;
    font-weight: normal;
}

header {
    background-color: #a4b892;
    text-align: center;
    padding: 40px 60px 30px;
    position: relative;
    margin-bottom: 4rem;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    color: white;
    font-weight: normal;
    font-family: 'tanfont';

}

.voornaam {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.achternaam {
    font-size: 3rem;
    
}

nav {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7d9267;
    padding: 10px 30px;
    border-radius: 0.6rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #7d9267;
    margin: 0;
    padding: 0;

}

nav li {
    margin: 0 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

footer {
    background-color: #a4b892;
    color: white;
    padding: 2rem;
    background-image: url('images/Achtergrond/footerplant.png');
    background-size: cover;
    background-position: right ;
    background-repeat: no-repeat;
    background-size: 15%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    text-align: left;
}

.footer-column h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
}

.footer-note {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    opacity: 0.8;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.bijlagebutton {
    margin-top: 0rem;
    background-color: #CB9470;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}

.bijlagebutton:hover {
    background-color: #ad7652;
}

.live {
    margin-top: 1.5rem;
}
video {
    border-radius: 9px;
}


/* telefoon */
@media screen and (max-width: 767px) {

    header {
        margin-bottom: 2rem;
    }

    header h1,
    .voornaam,
    .achternaam {
        font-size: 2rem;
    }

    nav {
        padding: 3px 14px;
    }

    nav a {
        font-size: 0.9rem;
    }

    nav ul {
        gap: 0.7rem;
    }

    nav li {
        margin: 0.5rem 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 0;
    }

    .footer-column {
        width: 100%;
    }

    .footer-column h4 a {
        font-size: 1rem;
    }

    .footer-column li a {
        font-size: 0.8rem;
    }
}