.cognitief h3 {
    margin-bottom: 1rem;
}

.cognitief h4 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1.5rem;
}

.cognitief p {
    margin-bottom: 0.5rem;
}

.cognitief ul {
    margin-left: 1.1rem;
}

.proto h4 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1.5rem;
}

.containerproto {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    gap: 3rem;
    
}
.containerproto img {
    max-width: 30%;
}

.onderzoekmotor ul {
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;

}

.uitleg h6{
    font-weight: normal;
    font-size: 1.2rem;
}

.uitleg p {
    margin-bottom: 1rem;
}

.uiteinddesign h3 {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.eindfeedback h3{
    margin-top: 2rem;
}

ul {
    margin-left: 1.5rem;
}

.makennieuwprototype {
    margin-top: 2rem;
    margin-bottom: 2rem;
}